ion-header{
    ion-toolbar{
        ion-button{
            font-size: 20px;
            text-transform: capitalize;
        }
  
        ion-buttons[slot="end"]{
            ion-button{
                color: var(--bd-green-light);
            }
        }
    }
  }

  .comment-modal{
    width: 100vw;
    height: 100%;
    // position: relative;
    // overflow-y: hidden;
    .comments{
        width: 100%;
        height: 89%;
        margin-bottom: 1rem;
        overflow-y: scroll;
        ion-list{
            ion-item {
                --border-color: transparent;
                --ripple-color: transparent;
                margin: 0.3rem auto;

            }
        }
        



        .userComment{
            width: 95%;
            margin: auto;
            margin-bottom: 0.5rem;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            .userImg{
                width: 80px;
                height: 100%;
                
                margin-right: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;

                ion-avatar{
                    width: 60px;
                    height: 60px;

                }
            }
            .userPost{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                
                .header{
                    width: 100%;
                    h4{
                        font-size: 18px;
                        font-weight: 600;
                        color: var(--bd-green-dark);
                        margin: 0;
                        padding: 0;

                    }
                }
                .comment{
                    width: 100%;
                    height: auto;
                    margin-top: 0.3rem;
                    p{
                        font-size: 14px;
                        color: var(--bd-green-dark);
                        margin: 0;
                        padding: 0;

                    }
                    ion-img{
                        width: 95%;
                        margin-top: 0.3rem;
                    }
                }
                .stats{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: 0.3rem;
                    .time{
                        font-size: 16px;
                        font-weight: 600;
                        color: var(--bd-green-dark);
                        margin: 0;
                        margin-right: 0.5rem;
                        padding: 0;

                    }
                    button{
                        width: fit-content;
                        padding: 0.2rem 0.4rem;
                        background: transparent;
                        color: var(--bd-green-dark);
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
                .replys{
                    margin-top: 0.3rem;
                    ion-avatar{
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }



    }


    .commentBox{
        position: static;

        left: 0;
        right: 0;
        bottom: 0;
        z-index: 50;

        background: var(--ion-color-light);

        width: 100%;
        min-height:auto;
        max-height: fit-content;

        border-top: 1px solid rgba(#999, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;



        

        .areaWrapper{

            width: 95%;
            max-height: fit-content;
            margin: 0.3rem auto;
            border: 1px solid rgba(#999, 0.5);
            border-radius: 50px;




            display: flex;
            align-items: center;
            justify-content: space-between;

            transition: 0.9s all;

            ion-textarea{
            width: 100%;
            min-height: 20px;
            max-height: fit-content;
            border-radius: 50px 0 0 50px;
            margin: auto;
            font-size: 16px;
            }
            ion-textarea {
                --background: transparent;
                --border-radius: 50px;
                --color: var(--bd-green-dark);
                --padding-bottom: 0;
                --padding-end: 4px;
                --padding-start: 1rem;
                --padding-top: 5px;
            }



            ion-button{
                --background: transparent;
                --box-shadow: none;
                color: var(--bd-green-dark);
                
            }

            &:focus-within{
                border: none;
                
            }
        }

        

    }

}