<ion-header>
  <ion-toolbar>

    <div class="header">
      <ion-title>Hellow DC</ion-title>
      <ion-item>
        <!-- <ion-label>Ln</ion-label> -->
        <ion-select value="En">
          <ion-select-option value="Bn" >Bengali</ion-select-option>
          <ion-select-option value="En">English</ion-select-option>
          
        </ion-select>
      </ion-item>
    </div>


  
  </ion-toolbar>
  
</ion-header>

<ion-content class="signin">

  <div class="container">
    <div class="header">
      <ion-avatar>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7HWTmhQ_5fIQlEsV3LpEvOzjjM25t_DfWO86AozxE8fDNM5aMtukqrOIb3GirTThWBW0&usqp=CAU">
      </ion-avatar>
      <!-- <div class="img">
        <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7HWTmhQ_5fIQlEsV3LpEvOzjjM25t_DfWO86AozxE8fDNM5aMtukqrOIb3GirTThWBW0&usqp=CAU"></ion-img>
      </div> -->
    </div>
    <div class="body">
      <div class="inputField">
        <ion-label >First Name</ion-label>
        <ion-input inputmode="numeric"  minlength="0"></ion-input>
      </div>
      <div class="inputField">
        <ion-label >Last Name</ion-label>
        <ion-input inputmode="numeric" minlength="0"></ion-input>
      </div>
      <div class="inputField">
        <ion-label >Address 1</ion-label>
        <ion-input inputmode="numeric" minlength="0"></ion-input>
      </div>
      <div class="inputField">
        <ion-label >Address 2</ion-label>
        <ion-input inputmode="numeric" minlength="0" ></ion-input>
      </div>
      <div class=" dropdown">
        <ion-label >District</ion-label>
        <ion-select id="dist" value="nadia" >
          <ion-select-option value="nadia">Nadia</ion-select-option>
          <ion-select-option value="kolkata">Kolkata</ion-select-option>
        </ion-select>
      </div>
      <div class=" dropdown">
        <ion-label >City</ion-label>
        <ion-select value="nadia" >
          <ion-select-option value="nadia">Nadia</ion-select-option>
          <ion-select-option value="kolkata">Kolkata</ion-select-option>
          <ion-select-option value="hooghly">hooghly</ion-select-option>
          <ion-select-option value="n24p">North 24 Pargana</ion-select-option>
          <ion-select-option value="s24p">South 24 Pargana</ion-select-option>
        </ion-select>
      </div>
      
      <div class="inputField">
        <ion-label >PIN Code</ion-label>
        <ion-input inputmode="numeric" minlength="0" ></ion-input>
      </div>
      <ion-button href="tabs/home" expand="full">
        Register
      </ion-button>
    </div>
  </div>

</ion-content>
