<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="complains">
      <ion-icon name="list-outline"></ion-icon>
      <!-- <ion-label>Tab 2</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="home" selected="true">
      <ion-icon name="home-outline"></ion-icon>
      <!-- <ion-label>Tab 1</ion-label> -->
    </ion-tab-button>

    <!-- <ion-tab-button tab="create">
      <ion-icon name="add-circle"></ion-icon>
    </ion-tab-button> -->

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <!-- <ion-label>Tab 3</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" >
    <ion-fab-button >
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button >
    <!-- <ion-fab-list slot="top">
      <ion-fab-button ><ion-icon name="add-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list >
      <ion-fab-button><ion-icon name="reader-outline"></ion-icon></ion-fab-button>
    </ion-fab-list> -->
  </ion-fab>

</ion-tabs>
