<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="flex-full home" >







  <!-- Complaints slider -->

  <div class="slider">
    <h2>Your Complains</h2>
    <ion-slides  >



      <!-- --tabs navigation bar-- -->
<!-- 
      <section class="bottom-footer">
        <div class="items">

        </div>

      </section> -->





      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Damaged Road</ion-card-title>
            <ion-card-subtitle class="pending">Pending</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="desc">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, quo!</p>
            </div>
            <div class="action">
              <a href="#" >View Details</a>
              
              <button >
                Contact 
                <ion-icon name="arrow-forward-sharp"></ion-icon>
                
              </button>
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-slide>


      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Damaged Road</ion-card-title>
            <ion-card-subtitle class="complete">Completed</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="desc">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, quo!</p>
            </div>
            <div class="action">
              <a href="#" >View Details</a>
              
              <button >
                Rate It 
                <ion-icon name="arrow-forward-sharp"></ion-icon>
                
              </button>
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-slide>


      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Damaged Road</ion-card-title>
            <ion-card-subtitle class="active">Active</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="desc">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, quo!</p>
            </div>
            <div class="action">
              <a href="#" >View Details</a>
              
              <button >
                See Status
                <ion-icon name="arrow-forward-sharp"></ion-icon>
                
              </button>
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-slide>


      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Damaged Road</ion-card-title>
            <ion-card-subtitle class="processing">Processing</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="desc">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, quo!</p>
            </div>
            <div class="action">
              <a href="#" >View Details</a>
              
              <button >
                View Process 
                <ion-icon name="arrow-forward-sharp"></ion-icon>
                
              </button>
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-slide>


      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Damaged Road</ion-card-title>
            <ion-card-subtitle class="cancled">Cancled</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="desc">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, quo!</p>
            </div>
            <div class="action">
              <a href="#" >View Details</a>
              
              <button >
                Reasigne 
                <ion-icon name="arrow-forward-sharp"></ion-icon>
                
              </button>
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-slide>

      


     





    </ion-slides>
  </div>


  <!-- catagory cards -->

  <div class="catagory">
    <h3 >Catagories</h3>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <img src="../../../assets/images/maintainence.png" alt="" srcset="">
              <h4>maintainence</h4>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <img src="../../../assets/images/security.png" alt="" srcset="">
              <h4>Security</h4>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <img src="../../../assets/images/mediacl.png" alt="" srcset="">
              <h4>Medical Help</h4>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <img src="../../../assets/images/housing.jpg" alt="" srcset="">
              <h4>Land & Housing</h4>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <img src="../../../assets/images/civil-rights.png" alt="" srcset="">
              <h4>Civil Issue</h4>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <img src="../../../assets/images/supports.png" alt="" srcset="">
              <h4>Others</h4>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>




    <!-- <ul>
      <li>
        <ion-card>
          <ion-card-content>
            <img src="../../../assets/images/maintainence.png" alt="" srcset="">
            <h4>maintainence</h4>
          </ion-card-content>
        </ion-card>
      </li>
      <li>
        <ion-card>
          <ion-card-content>
            <img src="../../../assets/images/security.png" alt="" srcset="">
            <h4>Security</h4>
          </ion-card-content>
        </ion-card>
      </li>
      <li>
        <ion-card>
          <ion-card-content>
            <img src="../../../assets/images/mediacl.png" alt="" srcset="">
            <h4>Medical Help</h4>
          </ion-card-content>
        </ion-card>
      </li>
    </ul>
    <ul>
      <li>
        <ion-card>
          <ion-card-content>
            <img src="../../../assets/images/housing.jpg" alt="" srcset="">
            <h4>Land & Housing</h4>
          </ion-card-content>
        </ion-card>
      </li>
      
      <li>
        <ion-card>
          <ion-card-content>
            <img src="../../../assets/images/civil-rights.png" alt="" srcset="">
            <h4>Civil Issue</h4>
          </ion-card-content>
        </ion-card>
      </li>
      <li>
        <ion-card>
          <ion-card-content>
            <img src="../../../assets/images/supports.png" alt="" srcset="">
            <h4>Others</h4>
          </ion-card-content>
        </ion-card>
      </li>
    </ul> -->
    
      
  </div>

  <!-- register button -->
  <div class="register">
    <button class="full-width">
      Register Complain
    </button>
  </div>
  

  <!-- news infinity -->
  <div class="news">
    <ion-card>
      <img src="https://images.unsplash.com/photo-1520209759809-a9bcb6cb3241?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aW1nfGVufDB8fDB8fA%3D%3D&w=1000&q=80" />
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content color="success">
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
        Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
  </div>


  <!-- infinity news -->











  








</ion-content>