<ion-header>
  <ion-toolbar>

    <div class="header">
      <ion-title>Hellow DC</ion-title>
      <ion-item>
        <!-- <ion-label>Ln</ion-label> -->
        <ion-select value="En">
          <ion-select-option value="Bn" >Bengali</ion-select-option>
          <ion-select-option value="En">English</ion-select-option>
          
        </ion-select>
      </ion-item>
    </div>


  
  </ion-toolbar>
  
</ion-header>

<ion-content class="signin">

  <div class="container">
    <div class="header">
      <ion-avatar>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7HWTmhQ_5fIQlEsV3LpEvOzjjM25t_DfWO86AozxE8fDNM5aMtukqrOIb3GirTThWBW0&usqp=CAU">
      </ion-avatar>
      <!-- <div class="img">
        <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7HWTmhQ_5fIQlEsV3LpEvOzjjM25t_DfWO86AozxE8fDNM5aMtukqrOIb3GirTThWBW0&usqp=CAU"></ion-img>
      </div> -->
    </div>
    <div class="body">
      <div class="inputField">
        <ion-label >Email:</ion-label>
        <ion-input inputmode="numeric" maxlength="4" minlength="0"></ion-input>
      </div>
      <div class="inputField">
        <ion-label >Phone:</ion-label>
        <ion-input inputmode="numeric" maxlength="4" minlength="0" ></ion-input>
      </div>
      <ion-button href="user-register" expand="full">
        Log In
      </ion-button>
    </div>
  </div>

</ion-content>
