<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="closeComplainStatus()" slot="start">
      <ion-button >
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Complain Details
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button >
        <ion-icon slot="start" name="add"></ion-icon>
        Create
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="complainStatus">
  <div class="compData">
    <p>Processing</p>
    <h2>
      Electricity Issue
    </h2>
    <h5><ion-icon slot="start" name="today-outline"></ion-icon> Posted On: <strong>12-Dec-21</strong></h5>
    <h5><ion-icon slot="start" name="person-outline"></ion-icon> Assigned To: <strong>Jeson Burne</strong></h5>


  </div>

  <div class="description">
    <ion-accordion-group value="details" >
      <ion-accordion value="details" toggle-icon="arrow-down-circle-outline">
        <ion-item slot="header">
          <ion-label>Description</ion-label>
        </ion-item>

        <ion-item slot="content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, veniam doloremque sequi nemo inventore eum facilis quaerat aspernatur ipsa cupiditate?</p>
        </ion-item>

      </ion-accordion>
    </ion-accordion-group>
  </div>
  <div class="images">
    <ion-accordion-group value="postImg">
      <ion-accordion value="postImg" toggle-icon="arrow-down-circle-outline">
        <ion-item slot="header">
          <ion-label>Posted Images</ion-label>
        </ion-item>

        <ion-item slot="content">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-img src="https://cdn.hswstatic.com/gif/amps-watts-1.jpg" ></ion-img>
              </ion-col>
              <ion-col size="8">
                <ion-img src="https://cdn.hswstatic.com/gif/amps-watts-1.jpg" ></ion-img>
              </ion-col>
              <ion-col size="4">
                <ion-img src="https://cdn.hswstatic.com/gif/amps-watts-1.jpg" ></ion-img>
              </ion-col>
              
            </ion-row>
      
      
          </ion-grid>
        </ion-item>

      </ion-accordion>
    </ion-accordion-group>


    
  </div>
  

  <div class="actions">

    <div class="row">
      <ion-button >
        <ion-icon slot="start" name="call-outline"></ion-icon>
        Contact Us
      </ion-button>
      <ion-button >
        <ion-icon slot="start" name="create-outline"></ion-icon>
        More Info
      </ion-button>
    </div>

    <!-- <ion-button >
      <ion-icon name="trash-outline"></ion-icon>
      Delete Complain
    </ion-button> -->

          
  </div>





</ion-content>