ion-toolbar{
    --background: var(--bd-green-dark);
    color: var(--ion-color-light);

    ion-title{
        font-size: 22pt;
        font-family: 'Encode Sans Condensed', sans-serif;
        font-weight: 900;
        
    }
    .notification{
        position: relative;
        width: fit-content;
        text-align: right;
        ion-icon{
            font-size: 26px;
        }
        ion-badge{
            --background: var(--bd-red-light);
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            top:0;
            right: 0;
        }
    }
}
.flex-full{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.user-home{
    
    --background: var(--f-d-light);
    .status-card{
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0.5rem auto;
        padding: 0 0.5rem;
        background: var(--f-light);
        .profile{
            width: 50px;
            height: 50px;
            border: none;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        .text-area{
            width: 80%;
            height: 70%;
            border: 1px solid ;
            border-color: rgba(green, 0.3);
            border-radius: 50px;
            margin: auto 0.5rem;
            text-align: left;
            p{
                font-size: 14px;
                font-weight: normal; 
                margin-left: 0.5rem;  
                color: var(--bd-green-dark);
                margin:  0.5rem;
                margin-left: 1rem;
            }
        }
        button{
            background: transparent;
            font-size: 14px;
            font-weight: 500;
            color: var(--f-dark1);
            text-transform: capitalize;

        }
 
    }

    .feed{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title{
            width: 100%;
            height: fit-content;
            padding: 0.3rem 0;
            background-color: var(--f-light);
            h6{
                font-size: 14px;
                font-weight: bold;
                color: #999;
                margin: 0.5rem ;
            }
        }


        ion-card{
            --background: var(--f-light);
            width: 100%;
            ion-card-header{
                width: 100%;
                margin: 0 auto;
                padding: 0.2rem 0.8rem;
                display: flex;
                align-items: center;
                border-bottom: 1px solid rgba(#999, 0.5);

                ion-avatar{
                    width: 60px;
                    height: 50px;
                    margin-right: 1rem;
                }
                .title{
                    ion-card-title{
                        width: fit-content;
                        display: flex;
                        align-items: center;

                        margin-bottom: 2px;
                        white-space: nowrap;
                        h4{ 
                            font-size: 18px;
                            font-weight: 700;
                            color: var(--bd-green-dark);
                            margin: 0;
                            padding: 0;
                            margin-right: 1rem;
                            
                        }
                        .status{
                            font-size: 14px;
                            width: fit-content;
                            padding: 0.3rem 0.5rem;
                            border-radius: 50px;
                            color: var(--ion-color-light);
                            text-decoration: none;
                        }
                        .active{
                            background: var(--ion-color-success);
                        }
                        .pending,.processing{
                            background: var(--ion-color-warning);
                        }
                        .canceled{
                            background: var(--ion-color-danger);
                        }
                        .completed{
                            
                            background: var(--ion-color-primary);
                        }


                    }
                    ion-card-subtitle{
                        width: fit-content;
                        margin-top: 0;

                        h6{
                            font-size: 14px;
                            font-weight: 700;
                            color: var(--bd-green-dark);
                            margin: 0;
                            padding: 0;
                            margin-right: 1rem;
                        }
                        
                        .date{
                            font-size: 14px;
                            padding: 0;
                            margin: 0;
                        }

                    }
                }
            }
            .desc{
                font-size: 16px;
                font-weight: normal;
                color: var(--f-dark1);
                
                padding-top: 0.5rem;
            }
            ion-img{
                width: 100%;
                height: 100%;
                padding: 0.2rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid rgba(#999, 0.5);
            }
            .card-btns{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding-top: 1rem;
                border-top: 1px solid rgba(#999, 0.5);
                ion-buttons{

                    ion-button{
                        font-size: 16px;
                        color: var(--bd-green-light);
                        text-transform: capitalize;
                        


                        &:focus-within{
                            color: var(--bd-red-light);
                        }
                        
                    }
                }
            }



        }

    }

    
}
